{% if friends %}
<table>
    <tr>
        <th>Name</th>
        <th style="text-align:center;">Add to Group</th>
    </tr>
    {% for friend in friends %}
    <tr>
        <td>{{ friend.first_name }} {{ friend.last_name }}</td>
        <td style="text-align:center;">
            <form>
                {% csrf_token %}
                <a class="btn-floating btn small waves-effect waves-light deep-orange darken-2 add_group_btn" friend_id={{ friend.id }}>
                    <i class="material-icons">group_add</i>
                </a>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}