<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Foodies</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
         <style>
            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }

            main {
                flex: 1 0 auto;
            }

            footer {
                margin-top: 30px;
                color: white;
            }

            footer a {
                color: lightblue;
            }

            .navbar-fixed {
                height: 80px;
            }

            .navbar-fixed {
                z-index: 999;
            }

            .signup_msg {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            /* label color */
            .input-field label {
                color: rgb(216, 67, 21);
            }
            /* label focus color */
            .input-field input:focus + label {
                color: rgb(216, 67, 21) !important;
            }
            /*  label underline focus color */
            .input-field input:focus {
                border-bottom: 1px solid rgb(216, 67, 21) !important;
                box-shadow: 0 1px 0 0 rgb(216, 67, 21) !important;
            }
            /* valid color */
            .input-field input.valid {
                border-bottom: 1px solid rgb(216, 67, 21) !important;
                box-shadow: 0 1px 0 0 rgb(216, 67, 21) !important;
            }
            /* invalid color */
            .input-field input.invalid {
                border-bottom: 1px solid rgb(216, 67, 21) !important;;
                box-shadow: 0 1px 0 0 rgb(216, 67, 21) !important;;
            }

            .input-field .prefix.active {
                color: rgb(216, 67, 21);
            }

            .results {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            .card {
                width: 49%;
            }

            .business_photos {
                width: 100%;
            }

            /* SPECIFIC TO USERS HOMEPAGE */
            table {
                table-layout: fixed;
            }

            .columns {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                flex-wrap: wrap;
            }

            .column {
                width: 48%;
            }

            .module {
                 /* max-height: 300px;  */
                 overflow-y: scroll; 
                margin-bottom: 20px;
            }

            .module_friends {
                 max-height: 450px; 
            }

            #suggest_food, #more_suggestions {
                margin-bottom: 20px;
            }

            @media all and (max-width: 550px) {
                .navbar-fixed {
                    height: 70px;
                }
            }

            @media all and (max-width: 830px) {
                .card, .column {
                    width: 100%;
                }
            }
        </style> 
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper deep-orange darken-2">
                    <ul class="left">
                        <li>&emsp;Hello, {{ request.session.name }}!</li>
                    </ul>
                    <a href="/" class="brand-logo center">
                        <i class="material-icons">restaurant</i>Foodies
                        <i class="material-icons right">restaurant</i>
                    </a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li class="active">
                            <a href="{% url 'users:index' %}"><i class="material-icons left">dashboard</i>Dashboard</a>
                        </li>
                        <li>
                            <a href="{% url 'users:profile' %}"><i class="material-icons left">edit</i>Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'users:logout' %}"><i class="material-icons left">exit_to_app</i>Log Out</a>
                        </li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li class="active">
                            <a href="{% url 'users:index' %}"><i class="material-icons left">dashboard</i>Dashboard</a>
                        </li>
                        <li>
                            <a href="{% url 'users:profile' %}"><i class="material-icons left">edit</i>Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'users:logout' %}"><i class="material-icons left">exit_to_app</i>Log Out</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <main>

            <div class="container">
                {% if messages %}
                <div style="color:red; text-align:center;">
                    <h5>ERRORS:</h5>
                    <ul>
                        {% for message in messages %}
                        <li>- {{message}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}


                <div class="columns">

                    <div class="column">
                        <div class="module">
                            <h5>Find Friends:</h5>
                            <form>
                                {% csrf_token %}
                                <div class="input-field">
                                    <i class="material-icons prefix">person_add</i>
                                    <input type="text" name="find_friend_name" id="input_find_friend" class="validate">
                                    <label for="find_friend">FRIEND NAME</label>
                                </div>
                            </form>
                            <div id="find_friend_results"></div>
                        </div>

                        <div class="module module_friends">
                            <h5>All Current Friends:</h5>
                            <div id="all_friends">
                                {% if friends %}
                                <table>
                                    <tr>
                                        <th>Name</th>
                                        <th style="text-align:center;">Add to Group</th>
                                    </tr>
                                    {% for friend in friends %}
                                    <tr>
                                        <td>{{ friend.first_name }} {{ friend.last_name }}</td>
                                        <td style="text-align:center;">
                                            <form>
                                                {% csrf_token %}
                                                <a class="btn-floating btn small waves-effect waves-light deep-orange darken-2 add_group_btn" friend_id={{ friend.id }}><i class="material-icons">group_add</i>
                                                </a>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                    
                    <div class="column">
                        <div class="module">
                            <h5>Current Group:</h5>
                            <div id="current_group">
                                {% if members %}
                                <table>
                                    <tr>
                                        <th>Name</th>
                                        <th style="text-align:center;">Remove from Group</th>
                                    </tr>
                                    {% for member in members %}
                                    <tr>
                                        <td>{{ member.first_name }} {{ member.last_name }}</td>
                                        <td style="text-align:center;">
                                            <form>
                                                {% csrf_token %}
                                                <a class="btn-floating btn small waves-effect waves-light deep-orange darken-2 remove_friend_btn" friend_id={{ member.id }}><i class="material-icons">remove_circle_outline</i>
                                                </a>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                                {% endif %}
                            </div>
                        </div>

                        <div>
                            <div id="suggest_food">
                                <button class="btn waves-effect waves-light deep-orange darken-2" type="submit" name="action" id="form_suggest_btn">Suggest food
                                    <i class="material-icons right">help_outline</i>
                                </button>
                                <br>
                            </div>
                            <!-- <div id="more_suggestions"></div> -->
                            <form id="form_search">
                                {% csrf_token %}
                                <div class="input-field">
                                    <i class="material-icons prefix">restaurant_menu</i>
                                    <input type="text" name="term" id="search_term" class="validate" value="{{ request.session.term }}">
                                    <label for="search_term">FOOD</label>
                                </div>
                                <div class="input-field">
                                    <i class="material-icons prefix">location_on</i>
                                    <input type="text" name="location" id="search_location" class="validate" value="{{ zipcode }}">
                                    <label for="search_location">LOCATION</label>
                                </div>
                                <button class="btn waves-effect waves-light deep-orange darken-2" type="submit" name="action">Search
                                    <i class="material-icons right">search</i>
                                </button>
                            </form>
                        </div>
                    </div>

                </div>

                <div class="results">
                    <div class="progress deep-orange darken-3" style="display:none;">
                        <div class="indeterminate deep-orange lighten-2"></div>
                    </div>
                </div>
            </div>

        </main>

        <footer class="page_footer deep-orange darken-2">
            <div class="center">
                <p>&copy; 2017 <a href="http://github.com/chaocharliehuang" target="_blank">Chao Charlie Huang</a> | Built using Django, Materialize CSS, and Yelp Fusion API</p>
            </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
        <script>
            $(".button-collapse").sideNav();

            $('#form_search').submit(function(e) {
                e.preventDefault();
                $('.progress').fadeIn('slow');
                $.ajax({
                    url: '/query_api',
                    method: 'POST',
                    data: $(this).serialize(),
                    success: function(res) {
                        $('.results').html(res);
                        $('.results').prepend(
                            '<div class="progress deep-orange darken-3" style="display:none;"><div class="indeterminate deep-orange lighten-2"></div></div>'
                        ); 
                    }
                });

                $('.columns').slideUp();
                $('.results').before("<p style='text-align:center;' id='search_again_msg'><a href='/search' id='search_again'>Search for something different</a></p>");
            });

            $(window).scroll(function() {
                if($(window).scrollTop() + $(window).height() == $(document).height()) {
                    $('.more_results').show();
                }
            });

            $(document).on('click', '.more_results a', function(e) {
                e.preventDefault();
                var link = $(this);
                var more_results_div = $(this).parent().parent().parent();
                $('.progress2').fadeIn('slow');
                $.ajax({
                    url: '/query_api',
                    method: 'GET',
                    data: $(this).parent().parent().serialize(),
                    success: function(res) {
                        link.remove();
                        $('.more_results').first().remove();
                        $('.results').append(res);
                        setTimeout(function() {
                            $('.progress2').first().remove();
                        }, 6000);
                    }
                });
            });

            $(document).on('click', '#search_again', function(e) {
                e.preventDefault();
                $('.columns').slideDown();
                $('#search_again_msg').remove();
            })

            $(document).on('click', '.card-image', function(e) {
                e.preventDefault();
                var card = $(this).parent();
                var business_id = card.attr('business_id');
                if ($('#' + business_id).length === 0) {
                    $.ajax({
                        url: '/query_business/' + business_id,
                        method: 'GET',
                        success: function(res) {
                            $(card).after(res);
                            $(card).next().hide();
                            $(card).next().slideDown(1000);
                        }
                    });
                }
            });

            $(document).on('click', '.card-content .name_link', function(e) {
                e.preventDefault();
                var card = $(this).parent().parent().parent();
                var business_id = card.attr('business_id');
                if ($('#' + business_id).length === 0) {
                    $.ajax({
                        url: '/query_business/' + business_id,
                        method: 'GET',
                        success: function(res) {
                            $(card).after(res);
                            $(card).next().hide();
                            $(card).next().slideDown(1000);
                        }
                    });
                }
            });

            $(document).on('click', '.business_photos a', function(e) {
                e.preventDefault();
                var business_photos = $(this).parent().parent();
                $(business_photos).slideUp('slow');
                setTimeout(function() {
                    $(business_photos).remove();
                }, 1000);
            });

            // USER PAGE ONLY BELOW:

            $('#input_find_friend').keyup(function() {
                if (!$('#input_find_friend').val()) {
                    $('#find_friend_results').html('');
                    return;
                }
                $.ajax({
                    url: '/users/find_friend',
                    method: 'POST',
                    data: $(this).parent().parent().serialize(),
                    success: function(res) {
                        $('#find_friend_results').html(res);
                    }
                });
            });

            $(document).on('click', '.add_friend_btn', function(e) {
                e.preventDefault();
                $.ajax({
                    url: '/users/add_friend/' + $(this).attr('friend_id') + '/',
                    method: 'POST',
                    data: $(this).parent().serialize(),
                    success: function(res) {
                        $('#all_friends').html(res);
                        $('#find_friend_results').html('');
                    }
                });
            });

            $(document).on('click', '.add_group_btn', function(e) {
                e.preventDefault();
                var btn = $(this);
                $.ajax({
                    url: '/users/add_friend2group/' + btn.attr('friend_id') + '/',
                    method: 'POST',
                    data: btn.parent().serialize(),
                    success: function(res) {
                        $('#current_group').html(res);
                        $.ajax({
                            url: '/users/display_friends',
                            method: 'POST',
                            data: btn.parent().serialize(),
                            success: function(res) {
                                $('#all_friends').html(res);
                            }
                        });
                    }
                });
            });

            $(document).on('click', '.remove_friend_btn', function(e) {
                e.preventDefault();
                var btn = $(this);
                $.ajax({
                    url: '/users/remove_friend_from_group/' + btn.attr('friend_id') + '/',
                    method: 'POST',
                    data: btn.parent().serialize(),
                    success: function(res) {
                        $('#current_group').html(res);
                        $.ajax({
                            url: '/users/display_friends',
                            method: 'POST',
                            data: btn.parent().serialize(),
                            success: function(res) {
                                $('#all_friends').html(res);
                            }
                        });
                    }
                });
            });

            $(document).on('click', '#form_suggest_btn', function(e) {
                $('#more_suggestions').remove();
                $.ajax({
                    url: '/users/suggest_food',
                    success: function(res) {
                        $('#search_term').val(res[0]).focus();
                        otherSuggestionsHTML = "<div id='more_suggestions'><p>";
                        otherSuggestionsHTML += "Other suggestions: ";
                        otherSuggestionsHTML += "<a href='/search' class='more_suggestions_btn'>";
                        otherSuggestionsHTML += res[1] + "</a>, ";
                        otherSuggestionsHTML += "<a href='/search' class='more_suggestions_btn'>";
                        otherSuggestionsHTML += res[2] + "</a>";
                        otherSuggestionsHTML += "</p></div>";
                        $('#suggest_food').after(otherSuggestionsHTML);
                    }
                });
            });

            $(document).on('click', '.more_suggestions_btn', function(e) {
                e.preventDefault();
                $('#search_term').val($(this).text()).focus();
            });
        </script>
    </body>
</html>